{{!--for some reason binding the class isn't working--}}
{{#if tool.selected}}
    <button {{action "click"}} class="selected">{{tool.name}}</button>
{{else}}
    <button {{action "click"}}>{{tool.name}}</button>
{{/if}}