{{#each emberCards as |card|}}
    {{#ember-wormhole to=card.id}}
        {{!--<label class="card-label">{{card.card.label}}</label>--}}
        {{component card.card.name
        env=card.env
        payload=card.payload
        options=card.options
        apiRoot=apiRoot
        assetPath=assetPath
        }}
    {{/ember-wormhole}}
{{/each}}

<div class='ghost-editor'>
    <div class='surface' tabindex="{{tabindex}}"/>
</div>
{{ghost-toolbar-blockitem editor=editor assetPath=assetPath}}
{{ghost-toolbar-newitem editor=editor assetPath=assetPath}}
{{ghost-toolbar editor=editor assetPath=assetPath}}
{{slash-menu editor=editor assetPath=assetPath}}


